
# c-octo configuration
# shared by octo-run and octo-de

ui.windowed=1
ui.software_render=0
ui.win_scale=2
ui.win_width=960
ui.win_height=544

# volume ranges between 0 and 127:
ui.volume=4

core.tickrate=10000
core.max_rom=65024

# rotations: 0, 90, 180, 270
core.rotation=270

# fonts: octo, vip, dream_6800, eti_660, schip, fish
core.font=octo

# touch modes: none, swipe, seg16, seg16_fill, gamepad, vip
core.touch_mode=none

# all colors are hex RGB
color.plane0=aaaaaa
color.plane1=222222
color.plane2=888888
color.plane3=000000
color.background=000000
color.sound=666666

quirks.shift=0
quirks.loadstore=0
quirks.jump0=0
quirks.logic=0
quirks.clip=1
quirks.vblank=0
